spring:
  application:
    name: portfolio-api
  datasource:
    url: jdbc:mysql://localhost:3306/portfolio_db
    username: root
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 8080